* {
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background: linear-gradient(to right, #2424ecdd, #800080, #d409d4);
  color: #fff;
}

.container {
  width: 80%;
  margin: 0 auto;
}
@font-face {
  font-family: 'Sunny Sunday';
  src: url('fonts/SunnySunday.ttf');
}

.main-nav a {
  font-family: 'Sunny Sunday', Arial, sans-serif;
  font-weight: bold;
  color: #fff;
  text-decoration: none;
}


.logo-container {
  display: flex;
  align-items: center;
}

.logo {
  font-size: 48px;
  font-weight: bold;
  color: #FFFFFF;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
}

.highlight {
  background-color: #06acff;
  padding: 4px 8px;
  border-radius: 4px;
}

.navbar .main-nav a {
  margin-left: 20px;
  color: #fff;
  text-decoration: none;
  margin-top: 100px;
}


.navbar .main-nav a.active {
  color: #ff0;
}

.compatibility-form {
  margin: 20px 0;
}

.form-group select option {
  color: #2424ec;
}

.form-group select option:hover,
.form-group select option:focus {
  background-color: #ffffff;
  color: #800080;
}


.form-group label {
  display: block;
  margin-bottom: 5px;
}

.form-group select {
  width: 90%; 
  max-width: 920px; 
  padding: 12px; 
  font-size: 17px; 
  background-color: #ffffff;
  border: none;
  border-radius: 4px;
  appearance: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-bottom: 20px;
}


.form-group select:hover,
.form-group select:focus {
  background-color: #ffffff;
  color: #800080;
}

.form-group select option {
  color: #2424ec;
}

.form-group select option:hover,
.form-group select option:focus {
  background-color: #ffffff;
  color: #800080;
}

.button-container {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}
button {
 outline: none;
  border: none;
 color: #fff;
  padding: 15px 30px;
 text-transform: uppercase;
font-size: 18px;
  letter-spacing: 2px;
 cursor: pointer;
   background: linear-gradient(90deg, #ff0000,#ffbf00dd, #ffff00, #04ff04, #00ffff, #0101c8, #d409d4, #d30a0a);
 background-size: 200%;
 box-shadow: 0 0 20px #eee;
 border-radius: 30px;
  transition: 0.5s;
}
button:hover {
  background-position: right center;
}
.featured-games h2,
.about-section h2,
.contact-section h2 {
  margin-top: 20px;
  font-size: 24px;
}
.game-card-row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.game-card {
  flex: 0 1 calc(33.333% - 20px); 
  padding: 10px;
  box-sizing: border-box; 
  transition: transform 0.3s ease;
  cursor: pointer;
  transform-style: preserve-3d;
  perspective: 1000px;
}
.game-card:hover {
  transform: scale(1.1);
  transform-origin: center;
}
.game-card-img {
  width: 100%; 
  height: 285px; 
  object-fit: cover; 
}
.game-card-row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.game-card h3 {
  margin-top: 10px;
 font-size: 20px;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
    color: #FFFFFF;
  text-align: center;
}
.game-card p {
  margin-top: 5px;
  font-size: 14px;
}
.footer {  padding: 20px 0;
  text-align: center;
  color: #fff;
  background-color: linear-gradient(to right, #2424ecdd, #800080);
}
